<style>

#PK-Academy{
font-size:50px;
margin:50px;  
font-famliy: Verdana; 
border:4px solid red;
padding:15px;
color: rgb(45, 184, 194);
font-family: "Helvetica", sans-serif;
}
h2{
color: rgb(45, 184, 194);
font-family: "oblique",Helvetica;
}
p{
color: rgb(45, 120, 190);
font-family: "oblique",Helvetica;
}
body {
background-color: rgb(217, 211, 208);
}
#School{
border:10px solid darkcyan;
width:400px;
height:245px;
}

#boxing-club{
font-size:50px;
margin:50px;  
font-famliy: Verdana; 
border:4px solid red;

      color: rgb(45, 184, 194);
            font-family: "Helvetica", sans-serif;
 
}
#sign-up{
font-size:30px; 
position:absolute;
left:450px;
 color: rgb(45, 184, 194);
            font-family: "oblique",Helvetica;
             border:5px solid darkcyan;
}
#Events{
    font-size:30px; 
position:absolute;
left:450px;
top:500px;
 font-family: "oblique",Helvetica;
  border:5px solid darkcyan;
}
#More-Info{
font-size:30px; 
position:absolute;
left:450px;
top:625px;
font-family: "oblique",Helvetica;
border:5px solid darkcyan;   
}    
#boxing-gloves{
border:10px solid darkcyan;
width:400px;
height:373px;
}  

#Social-Science{
font-size:50px;
margin:50px;  
font-famliy: Verdana; 
border:4px solid red;
padding:15px;
color: rgb(45, 184, 194);
font-family: "Helvetica", sans-serif;
}

#Welcome{
font-size:40px;
border:4px solid red;
color:rgb(45, 184, 194);
}

#Image-of-scale{
    position:absolute;
    left:800px;
    top:900px;
    border:15px solid darkcyan;
   padding:15px;
}

#Criminology{
position:absolute;
left:100px;
border:15px solid darkcyan;
padding:15px;
} 

#Internships{
font-size:50px;
margin:50px;  
font-famliy: Verdana; 
border:4px solid red;
padding:15px;
color: rgb(45, 184, 194);
font-family: "Helvetica", sans-serif;   
}

#Internship {
border:10px solid darkcyan;
width:400px;
height:245px;
position:absolute;
left:0;
}  

#Internship2{
border:10px solid darkcyan;
width:400px;
height:245px;
position:absolute;
left:330px;
}  

#Internship3{
color: rgb(45, 120, 190);
font-family: "oblique",Helvetica;
font-size:30px;
}  
</style>
